{% extends "base.html" %}

{% block content %}
<h2>Lista de Largada - {{ enduro.name }}</h2>
<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Categoria</th>
            <th>Hora de Largada</th>
        </tr>
    </thead>
    <tbody>
        {% for competitor in largada_list %}
        <tr>
            <td>{{ competitor.name }}</td>
            <td>{{ competitor.category }}</td>
            <td>{{ competitor.hora_largada }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="/enduros/{{ enduro.id }}/" class="btn btn-secondary">Voltar</a>
{% endblock %}