{% extends "base.html" %}

{% block content %}
<h2>Tabela de Competidores</h2>

<table>
    <thead>
        <tr>
            <th>Competidor</th>
            <th>Placa</th>
            <th>Categoria</th>
            <th>PC1</th>
            <th>PC2</th>
            <th>PC3</th>
            <th>PC4</th>
            <th>PC5</th>
            <th>PC6</th>
            <th>PC7</th>
            <th>PC8</th>
            <th>PC9</th>
            <th>PC10</th>
            <th>PC11</th>
            <th>PC12</th>
            <th>Total de Pontos Perdidos</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>4.0</td>
            <td>204.0</td>
            <td>Duplas</td>
            <td>0.0</td>
            <td>0.0</td>
            <td>0.0</td>
            <td>0.0</td>
            <td>0.0</td>
            <td>0.0</td>
            <td>0.0</td>
            <td>0.0</td>
            <td>0.0</td>
            <td>0.0</td>
            <td>0.0</td>
            <td>0.0</td>
            <td>=SUM(D2:O2)</td>
        </tr>
        <tr>
            <td>5.0</td>
            <td>205.0</td>
            <td>Duplas</td>
            <td>60.0</td>
            <td>60.0</td>
            <td>60.0</td>
            <td>60.0</td>
            <td>60.0</td>
            <td>60.0</td>
            <td>60.0</td>
            <td>60.0</td>
            <td>60.0</td>
            <td>60.0</td>
            <td>60.0</td>
            <td>60.0</td>
            <td>=SUM(D3:O3)</td>
        </tr>
        <tr>
            <td>207.0</td>
            <td>207.0</td>
            <td>Duplas</td>
            <td>60.0</td>
            <td>749.0</td>
            <td>0.0</td>
            <td>0.0</td>
            <td>0.0</td>
            <td>0.0</td>
            <td>0.0</td>
            <td>180.0</td>
            <td>0.0</td>
            <td>420.0</td>
            <td>180.0</td>
            <td>0.0</td>
            <td>=SUM(D4:O4)</td>
        </tr>
        <tr>
            <td>206.0</td>
            <td>206.0</td>
            <td>Duplas</td>
            <td>0.0</td>
            <td>689.0</td>
            <td>120.0</td>
            <td>120.0</td>
            <td>120.0</td>
            <td>120.0</td>
            <td>120.0</td>
            <td>120.0</td>
            <td>120.0</td>
            <td>240.0</td>
            <td>120.0</td>
            <td>0.0</td>
            <td>=SUM(D5:O5)</td>
        </tr>
        <tr>
            <td>Antonio Lazaro</td>
            <td>1234.0</td>
            <td>Trios</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>=SUM(D6:O6)</td>
        </tr>
        <tr>
            <td>219.0</td>
            <td>219.0</td>
            <td>Duplas</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>=SUM(D7:O7)</td>
        </tr>
        <tr>
            <td>216.0</td>
            <td>216.0</td>
            <td>Duplas</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>=SUM(D8:O8)</td>
        </tr>
        <tr>
            <td>209.0</td>
            <td>209.0</td>
            <td>Duplas</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>=SUM(D9:O9)</td>
        </tr>
        <tr>
            <td>211.0</td>
            <td>211.0</td>
            <td>Duplas</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>2265.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>=SUM(D10:O10)</td>
        </tr>
        <tr>
            <td>214.0</td>
            <td>214.0</td>
            <td>Duplas</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>4215.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>=SUM(D11:O11)</td>
        </tr>
        <tr>
            <td>213.0</td>
            <td>213.0</td>
            <td>Duplas</td>
            <td>1800.0</td>
            <td>4248.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>=SUM(D12:O12)</td>
        </tr>
        <tr>
            <td>208.0</td>
            <td>208.0</td>
            <td>Duplas</td>
            <td>7185.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>694.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>=SUM(D13:O13)</td>
        </tr>
        <tr>
            <td>212.0</td>
            <td>212.0</td>
            <td>Duplas</td>
            <td>5385.0</td>
            <td>3318.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>=SUM(D14:O14)</td>
        </tr>
        <tr>
            <td>104.0</td>
            <td>104.0</td>
            <td>Duplas</td>
            <td>104784.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>=SUM(D15:O15)</td>
        </tr>
        <tr>
            <td>102.0</td>
            <td>102.0</td>
            <td>Duplas</td>
            <td>4305.0</td>
            <td>11388.0</td>
            <td>3495.0</td>
            <td>99912.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>=SUM(D16:O16)</td>
        </tr>
        <tr>
            <td>105.0</td>
            <td>105.0</td>
            <td>Duplas</td>
            <td>104589.0</td>
            <td>97236.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>=SUM(D17:O17)</td>
        </tr>
        <tr>
            <td>107.0</td>
            <td>107.0</td>
            <td>Duplas</td>
            <td>104397.0</td>
            <td>97047.0</td>
            <td>1800.0</td>
            <td>99792.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>=SUM(D18:O18)</td>
        </tr>
        <tr>
            <td>103.0</td>
            <td>103.0</td>
            <td>Duplas</td>
            <td>104955.0</td>
            <td>97602.0</td>
            <td>1800.0</td>
            <td>99735.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>=SUM(D19:O19)</td>
        </tr>
        <tr>
            <td>101.0</td>
            <td>101.0</td>
            <td>Duplas</td>
            <td>105288.0</td>
            <td>97968.0</td>
            <td>1800.0</td>
            <td>100083.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>1800.0</td>
            <td>=SUM(D20:O20)</td>
        </tr>
    </tbody>
</table>

</body>
</html>
{% endblock %}